/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
.description {
    opacity: 0.8;
}
.nav {
    color: black;
    background-color: #472f2f;
}
li a {
    text-decoration-color: black;
    text-anchor: middle;
}
.active {
    background-color: aliceblue;
}
#foo-icon{
    height: 32px;
    width: 32px;
}
html {
    scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
.about , h1{
    text-align: center;
}
last,first{
    font-size: 100px;
}
h3{
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}
.foo-icon{
height: 64px;
width: 64px;
}

im{
font-family: HOMINA;
font-size: 10rem;
color: #1a0f0f;
}
.django{
color: #868686;
}
p{
text-align: justify;
}