<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/styles.css">
    <title>Document</title>
</head>
<body>
        <% include partials/nav.ejs %>
        <h1>Form with Get request</h1>
    <form action="formsubmit/" method='get'>

        <label for="Name"> Name</label>
        <input type="text" name="name"/>
        <label for="Email"> Email</label>
        <input type="email" name="email"/>
        <input type="submit" id="button" value="Sumbit">
    </form>
    </form>
    
</body>
</html>