<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="assets/styles.css">
    <title>My Profile</title>
 
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1>Profile Page</h1>
    <p>Name:<%= data.name %></p>  
    <p>Emalil: <%= data.email %></p> 
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ea
    deleniti eligendi culpa accusamus velit consequuntur. Voluptates dicta
    libero totam fugiat accusantium perspiciatis, officiis mollitia possimus non
    aliquam sed iste placeat fugit quibusdam voluptate optio numquam magni! A
    minima qui eaque mollitia totam distinctio vitae eveniet suscipit in
    repellat, laudantium corporis odio, cupiditate deleniti nisi doloribus? Hic
    maiores voluptatem voluptate! Natus tempore sit rerum ut molestias id
    nesciunt exercitationem dicta minus ipsa architecto, nisi non, quaerat,
    sapiente commodi? Ratione dignissimos quaerat officiis tempore impedit
    voluptatibus molestiae, vero omnis praesentium nam quod aliquid maiores,
    illo fuga animi, consectetur temporibus sequi cupiditate facilis ea cum?
    Consectetur aut, voluptatibus eaque ullam debitis repellat, aspernatur
    accusantium accusamus quae obcaecati nesciunt, quam fuga soluta quas
    asperiores? Dolorem magni explicabo ullam unde itaque eum voluptatum
    officiis delectus asperiores sunt commodi laborum a eius assumenda quibusdam
    in facere odio excepturi quas eaque ut, sequi corrupti consequuntur
    incidunt? Odit explicabo dolorum eius voluptatum maiores similique nam
    laborum inventore minima odio ipsam, placeat doloremque provident officia
    voluptatibus tempore alias dolore excepturi, qui facilis! At est, alias
    quibusdam saepe aperiam tempora. Doloribus distinctio ratione consequatur
    sit error! Perspiciatis aperiam ex, voluptatum cum vero laboriosam. Dolorum
    laudantium veritatis nostrum officiis eius atque odit, reiciendis tempora,
    quisquam voluptatum aliquid libero dolorem repellendus possimus tempore
    sequi non praesentium quas ipsum labore deserunt impedit accusantium minus!
    Exercitationem, aut rem veniam itaque non dolor aliquam eos sequi quaerat
    iure. Placeat amet recusandae corrupti voluptate eligendi repudiandae
    voluptates dolorum autem repellat illum voluptas quia, eius provident ex
    vitae. Pariatur ipsa natus hic repudiandae corrupti sequi autem, aut neque,
    odit nam inventore eum animi. Necessitatibus, illo. Consectetur, asperiores
    et minima quasi laudantium, iste dicta maiores soluta temporibus vitae ex
    placeat adipisci. Repellendus dolor quia veritatis. Quae dolorem corporis
    doloribus error beatae debitis id, ducimus voluptas esse laborum.
  </body>
</html>
