* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  .row{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  a>img{
      width: 32px;
      height: 32px;
}
li {
    float: left;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    margin-left:10px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }