<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/form">Form with get</a></li>
        <li><a href="/formsubmit">Form with post</a></li>
    </ul>
</nav>